doctype html
html
	head 
		link(rel='stylesheet' href='/css/main.css' type='text/css')
		link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css")
		link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Megrim|Space+Mono|Zilla+Slab+Highlight")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
	body
		.slider.fullscreen
			ul.slides
				li
					img(src="/images/header.jpg")
					.caption.center-align
						h2 The 6 pack leather beer bike holder
						h4 For all your hipster needs
						a.btn-flat.black.white-text(href="/login") BUY NOW
				li
					img(src="/images/header_2.jpg")
					.caption.center-align
						h2 Bring your 6-pack beer on your bike*!
						h4 *Vintage bikes only
						a.btn-flat.black.white-text(href="/login") BUY NOW
				li
					img(src="/images/header_3.jpg")
					.caption.center-align
						h2 One hipster, one bike and six beers
						h4 Make it possible for only $59,99!
						a.btn-flat.black.white-text(href="/login") BUY NOW

		//- footer
		//- 	.container
		//- 		p © 2017 Copyright All rights reserved enzo
		script(type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js")
		script(src='/js/main.js')
