doctype html
html
	head 
		link(rel='stylesheet', href='/css/main.css', type='text/css')
		link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
	body
		//- #logo			
		//- 	img.responsive-img(src="images/logo.png")
		
		.slider.fullscreen
			ul.slides
				li
					img(src="/images/header.jpg")
					.caption.center-align
						h2 The leather 6 pack holder for beer on bikes
						h4 For all your hipster needs
						a.btn(href="/account") BUY NOW
				li
					img(src="/images/header_2.jpg")
					.caption.center-align
						h2 The 6 pack bike beer holder
						h4 For all your hipster needs
						a.btn(href="/account") BUY NOW
				li
					img(src="/images/header_3.jpg")
					.caption.center-align
						h2 The 6 pack leather beer bike holder
						h4 For all your hipster needs
						a.btn(href="/account") BUY NOW

		//- footer
		//- 	.container
		//- 		p © 2017 Copyright All rights reserved enzo
		script(type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js")
		script(src='/js/main.js')
