doctype html
html
	head
		link(rel='stylesheet' href='/css/main.css' type='text/css')
		link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css")
		link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Megrim|Space+Mono|Zilla+Slab+Highlight")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		script(src='https://www.paypalobjects.com/api/checkout.js')
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
	body
		.container
			.row.center
				a(href="/")
					img.responsive-img#logo(src="images/logo-black.png")
			.row.center
				h3 Info
			.row.center
				p ---
				p Made from full grain leather the 6-strap is the perfect companion for a night out on your bike.  Made right here in Wisconsin by local craftsmen, we are proud to offer this latest edition to our Tannery Collection.
				p We've all been there before. Riding from the liquor store to your apartment or party with a six pack in hand isn't impossible but there's a lot of room for error. Our leather 6-strap fastens to your top tube and seat tube offering a secure and hands free way to deliver your precious cargo. Now available with an adjustable top strap, our leather 6-strap fits top tubes with up to a 1.75" diameter!
				p Being from Milwaukee (Brew City), we've had more than a few opportunities to test out this product. When properly fastened to your top tube and seat tube and filled with a six pack of suds, there's plenty of clearance between the strap and your legs while pedaling.
				p Enjoy the ride and please bike responsibly.
				p ---
			.row.center
				p PHOTOS
				.carousel
					a.carousel-item
						img(src="/images/product_xl1.jpg")
					a.carousel-item
						img(src="/images/product_xl2.jpg")
					a.carousel-item
						img(src="/images/product_xl3.jpg")
					a.carousel-item
						img(src="/images/product_xl4.jpg")
					a.carousel-item
						img(src="/images/product_xl5.jpg")
					a.carousel-item
						img(src="/images/product_xl6.jpg")
			.row.center
				p ---
			.row.center
				p REVIEWS
			.row.center
				p Savannah wrote:
				p.italic "I bought this as a present for someone, and I am very excited to gift it! The delivery was surprisingly speedy, and I was not disappointed with the quality of the product."
			.row.center
				p Robert wrote: 
				p.italic "I love my 6-strap. Even when I do not have it filled with beer it is a great conversation piece. Who doesn't love leather accents on their fixie?"
			.row.center
				p Casey wrote:
				p.italic "Unbelievable. Looks and works great. Turns heads. Only draw back is I didn't buy the growler carrier. YET.. THANKS. Plans on visiting the store soon.."
			.row.center
				p ---
			.row.center
				p DICLAIMER
				p.disclaimer This website is made purely for educational purposes. Photos and text all belong to Fyxation.
				a.disclaimer(href="https://www.fyxation.com/products/leather-six-pack-caddy") Fyxation
				
		script(type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js")
		script(src='/js/main.js')
