doctype html
html
	head 
		link(rel='stylesheet' href='/css/main.css' type='text/css')
		link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css")
		link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Megrim|Space+Mono|Zilla+Slab+Highlight")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
	body(style="background-image:url(images/product_7.jpg)")
		.container
			.row
				#formbox.col.s8.offset-s2.z-depth-3.white
					.row.center
						a(href="/")
							img.responsive-img(src="images/logo-black.png")
					.row
						form(action='/login' method='POST' autocomplete='off' name="loginForm")
							.row
								.input-field.col.s8.offset-s2
									input(type="email" name="email" required)
									label(for="email") Email
							.row
								.input-field.col.s8.offset-s2
									input(type="password" name="password" required)
									label(for="password") Password
							.row.center
								button.btn-flat.black.white-text(type="submit" name="submit") LOGIN
							.row
								p.center-align Don't have an account yet?
							.row.center
								a.btn-flat.black.white-text(href="/signup") SIGN UP

			p= message

		script(type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js")
		script(src='/js/main.js')
