doctype html
html
	head
		link(rel='stylesheet' href='/css/main.css' type='text/css')
		link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css")
		link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Megrim|Space+Mono|Zilla+Slab+Highlight")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		script(src='https://www.paypalobjects.com/api/checkout.js')
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
	body
		.container
			.row.center
				a(href="/")
					img.responsive-img#logo(src="images/logo-black.png")
			.row.center
				h3 Thank you!
				p You succesfully purchased your 6-strap. Pretty soon a whole new world will open up for you. We're sure you are very excited!
			.row.center
				p ---
			.row.center
				p Want to read more about how awesome 6-strap is? 
				a.btn-flat.black.white-text(href="/info") CLICK HERE!
