body {
  font-family: 'Space Mono', monospace;
}

.caption {
  padding-top: 150px;
}

#formbox {
  margin-top: 75px;
  padding-top: 50px;
}

#logo {
  margin-top: 50px;
}

#line {
  border-top: 1px solid grey;
}

.bold {
  font-weight: bold;
  font-style: italic;
}

#orderinfo {
  padding: 50px;
}

.slider a {
  margin: 10px;
}

.italic {
  font-style: italic;
}

.disclaimer {
  font-size: 7pt;
}
